<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<form action="/account/login" method="post">
    <label>
        <input name="username">
    </label>
    <label>
        <input name="password">
    </label>
    <label>
        <input type="checkbox" name="remember" value="true">
    </label>
    <button>Login</button>
</form>
</body>
</html>