<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
</head>
<body>
<h2>Admin Dashboard</h2>
<p>Welcome Admin, <span th:text="${user.fullname}">Admin</span>!</p>

<ul>
    <li><a href="/admin/home/index">Manage Users</a></li>
    <li><a href="/category/index">Manage Categories</a></li>
    <li><a href="/product/search-and-page">Manage Products</a></li>
</ul>

<a href="/auth/logout">Logout</a>
</body>
</html>